@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.col-left{
    background-color: #FAF8F1;
    flex: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

}
.col-right{
    background-color: #FAF8F1;
    flex: 35%;
    display: flex;
     padding: 10px;
     align-items: center;
justify-content: center;
}
.right-box{


    text-align: center;

}
.left-box{


    text-align: center;

    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

span {
  color:#181D31;
}
.roomcode-box{
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 10px;
border-radius: 10px;
color:#181D31;
}
.roomcode-box>input{
    margin: 5px;
    padding: 5px;
    border:2px solid #4D6674;
    background-color: #F0E9D2;
    border-radius: 5px;
    color: #181D31;
    font-weight: 800;
    font-size: 12px;
    width: 80%;

}
#fileinput{
    cursor: pointer;
    position: relative;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #324D5D;
    flex: 1;
    opacity: 0;

}
#drop_zone {
    position: relative;
    border: 5px dashed #324D5D;
    width: 50vw;
    height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;



  }
  #sendFileBtn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: #E6E2C3;
color: black;
cursor: pointer;
padding: 10px;
border-radius: 5px;
border: 1px solid #324D5D;
display: block;
margin: 5px;
width: 50%;
font-weight: bolder;

  }
  #sendFileBtn:hover{
    background-color: #FAF8F1;

  }
  #drop_zone_text{
  position: relative;
  top: 0;
  left: 0;
  color: #181D31;

  }
  .drop-area{

  }
  .fileprogress-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 10px;
    width: 100%;
    text-align: left;


  }
  .progress{

    margin-top: 5px;
    font-size: 55px;
    color: ##181D31;
    font-weight: bold;
    color: #181D31;

  }
  .progress-bar{
    border: 1px solid #324D5D;
  }
  .progress-bar-fill{
    background-color: #D0B8A8;
    width: 0%;
    height: 25px;
  }
  .stats-area{
    display: none;
    width: 50vw;
  }
  .info-box{
    background-color: black;
    color: aquamarine;
    font-size: 8px;
    padding: 4px;
    margin: 5px;

  }
  #filename-text{
    color: #1A120B;
  }
  msglist>a{
  font-size: 10px;
text-decoration: none;
color: #1A120B;
display: block;
  }
  msglist{
    height: 100px;
    overflow: scroll;
    padding: 5px;
    margin-bottom: 10px;
  }
